.mainBlock {
  position: relative;
}
.sportCar {
  position: fixed;
  margin: auto;
  margin-left: 21.87rem;
  height: 43.75rem;
  width: 50rem;
  object-fit: contain;
  background-image: url(../image/redCar.jpg);
  background-position: center;
}
.headerWhite {
  position: fixed;
  z-index: 1;
  /* top: 0.62rem; */
  /* left: 21.00rem; */
  top: 0;
  left: 22.31rem; 
  background-color: white;
  height: 3.75rem;
  width: 50rem ;
  /* border: 2px solid rgb(215, 77, 8); */
  padding-bottom: 10px;
}
h1{
  color: rgb(9, 18, 111);
  text-align: center;
  
 
}
.formRegistration {
  position: absolute;
  border: 2px solid rgb(215, 77, 8);
  top: 8rem;
  left: 28.12rem;
  background-color: rgba(0, 0, 0, 0.771);
  /* height: 93.75rem; */
  height: fit-content;
  width: 32.5rem;
  border-radius: 1.87rem;
  padding: 1rem 2.5rem;
  /* bottom: 22.31rem; */
}
.formHeader {
  background-color: rgb(235, 91, 8);
  text-align: center;
  padding: 0.62rem;
}
.lineBlock{
  width: 8.12rem;
}
.classEmail{
  width: 18.75rem;
}

.inputSmall{
  width: 7.5rem;
}
.infoForm {
  padding: 1rem 0;
  line-height: 0.5rem;
}
.infoInvite {
  margin-top: 1rem;
  padding: 1rem 0;
}
.formHeaderSecond {
  background-color: rgb(235, 91, 8);
  text-align: left;
  padding: 0.62rem;
}
.lineInput{
  display: flex;
  justify-content: left;
  padding-top: 1.25rem;
  gap: 10px;
}
.form-sub-label{
  margin-left: 0.31rem;
  /* font-size: 0.81rem; */
}
.errorMessage{
  color: rgb(255, 0, 0);
}
.blockAdress{
  display: flex;
  flex-direction: column;

}
.street-two{
  padding-top: 1.25rem;
}
.classCityState{
  display: flex;  
  gap: 0.62rem;
  padding-top: 1.25rem;

}
.input-adress-city{
  width: 6.25rem;
}
.input-adress-state{
  width: 9.37rem;
}
.postalZipCode{
  padding-top: 1.25rem;
}
.classEmergency{
  height: 1.12rem;
}
.dayParticipation{
  padding: 5px 0;
}
.total{
  display: flex;
  justify-content: space-between;
}
.textareaRelease{
  background: transparent;
  border: 1px solid white;
}



.class-submit{
  width: 100px;
  height: 30px;
  background-color: red;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  margin: 50px 200px;
}